// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// colors
$website-red: #ff0000;
$website-dark-red: #9b0202;
$website-light-red: #fb4747;
$website-dark-gray: #262626;
$website-light-gray: #808080;
$website-black: #000000;
$website-white: #ffffff;

// Padding
$mobile-padding: 50px 20px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

p {
    font-size: 18px;
}

// Default button appearance function 
@mixin app-button-base-css($padding, $font-size, $background-color, $color, $width, $hover-color, $active-color) {
    appearance: none;
    border: none;
    border-radius: 6px;
    padding: $padding;
    font-size: $font-size;
    font-weight: bold;
    background-color: $background-color;
    color: $color;
    width: $width;

    &:hover {
        cursor: pointer;
        background-color: $hover-color;
    }

    &:active {
        background-color: $active-color;
    }
}

// Default input css for website 
@mixin text-input-base-css($width, $border-radius) {
    appearance: none;
    width: $width;
    padding: 8px 12px;
    border-radius: $border-radius;
    background-color: #262626;
    color: rgb(230, 230, 230);
    outline: none;
}


// display-flex function to define justify-content, align-items, direction and gap
@mixin display-flex($direction, $justify-content, $align-items, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

// function css
@mixin footer-css() {
    @include display-flex(row, space-between, center, 0);
    text-align: center;
    background-color: $website-dark-gray;
    padding: 20px;
    box-shadow: 0 -2px 10px $website-black;

    a {
        @include display-flex(column, unset, center, 0);
        text-decoration: none;
        color: $website-white;

        img {
            width: 32px;
            height: auto;
        }
    }
}

@media screen AND (min-width: 0px) {

    /****** AUTHENTICATION PAGE CSS *****/
    .authentication-page {
        background-image: url('/public/images/user-auth-background.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: $website-black;
        color: $website-white;

        .content {
            text-align: center;
            height: 100vh;
            padding: $mobile-padding;
            backdrop-filter: blur(5px);

            .welcome-container {
                @include display-flex(column, space-between, unset, 0);
                height: 100%;
            }

            .app-title {
                @include display-flex(column, center, center, 0px);

                div {
                    @include display-flex(row, unset, center, 5px);

                    img {
                        width: 90px;
                        height: auto;
                    }

                    h1 {
                        font-weight: bold;
                        font-size: 44px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }

            .authentication-buttons {
                @include display-flex(column, unset, unset, 10px);

                button {
                    @include app-button-base-css(15px 0, 20px, $website-red, $website-white, 100%, $website-dark-red, $website-light-red);
                }

                .login-button {
                    background-color: $website-black;
                    @include app-button-base-css(15px 0, 20px, $website-black, $website-white, 100%, $website-black, $website-black);
                }
            }
        }

        .fill-out-section {
            @include display-flex(column, unset, unset, 20px);

            .back-container {
                @include display-flex(row, unset, center, 0);

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            form {
                @include display-flex(column, unset, flex-start, 20px);

                div {
                    text-align: left;
                    width: 100%;

                    p {
                        font-size: 18px;
                        padding-left: 8px;
                    }

                    input {
                        @include text-input-base-css(100%, 15px);
                        border: 2px solid $website-white;
                        margin-top: 5px;
                    }
                }

                button {
                    @include app-button-base-css(15px 0, 18px, $website-red, $website-white, 100%, $website-light-red, $website-dark-red);
                }
            }
        }
    }

    /* ********** MAIN PAGES CSS ********** */
    .main-pages {
        max-height: 100vh;
        background-color: $website-black;
        color: $website-white;

        // Workout page
        .workout-page {
            padding: $mobile-padding;
            @include display-flex(column, unset, unset, 40px);
            scrollbar-width: none;
            // IMPORTANT: Because footer is fixed so scroll won't take its height into consideration
            padding-bottom: 100px;

            h1 {
                font-size: 40px;
            }

            .quick-start-section {
                margin-top: 10px;
                width: 100%;
                padding: 15px 0;

                button {
                    @include app-button-base-css(12px 0, 16px, $website-red, $website-white, 100%, $website-dark-red, $website-light-red);
                    margin-top: 10px;
                }
            }

            .routines-section {

                .title {
                    @include display-flex(row, space-between, center, 0);

                    button {
                        @include app-button-base-css(8px 0, 16px, $website-dark-gray, $website-white, 150px, $website-dark-gray, $website-light-gray);

                        &:active {
                            filter: brightness(1.5);
                        }
                    }
                }

                .routines-list {
                    @include display-flex(column, unset, unset, 20px);
                    margin-top: 20px;

                    .routine {
                        background-color: $website-dark-gray;
                        padding: 20px;
                        border-radius: 15px;

                        .exercises-preview {
                            @include display-flex(row, unset, unset, 0);
                            margin-top: 5px;
                            color: $website-light-gray;
                            flex-wrap: wrap;
                        }

                        button {
                            @include app-button-base-css(16px 0, 16px, $website-red, $website-white, 100%, $website-dark-red, $website-light-red);
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        .edit-profile-page {
            padding-bottom: 100px;
            max-width: 100vw;
            height: auto;

            header {
                width: 100%;
                background-color: $website-dark-gray;
                display: grid;
                align-content: center;
                grid-template-columns: 1fr 1fr 1fr;
                padding: 0px 20px;
                height: 80px;

                #header-title {
                    color: $website-white;
                    font-weight: bold;
                    font-size: 20px;
                    text-align: center;
                }

                p {
                    color: $website-red;
                }

                #logout {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            .main-content {
                overflow-y: scroll;
                padding: $mobile-padding;
                padding-bottom: 0;
                @include display-flex(column, unset, unset, 20px);

                .user-profile-picture-section {
                    margin-top: 15px;
                    @include display-flex(row, unset, flex-start, 20px);
                    width: 100%;

                    img {
                        width: 75px;
                        height: 75px;
                        background-color: $website-red;
                        border-radius: 50%;
                    }

                    .user-profile-details {
                        width: 100%;

                        p {
                            font-size: 20px;
                        }

                        .user-profile-stats {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            margin-top: 10px;

                            div {
                                @include display-flex(column, unset, unset, 5px);

                                p {
                                    font-size: 16px;
                                }

                                .title {
                                    color: $website-light-gray;
                                }
                            }
                        }
                    }
                }

                .user-bio-section {
                    margin-top: 5px;
                    background-color: $website-dark-gray;
                    padding: 10px;
                    border-radius: 10px;
                }

                .user-progress-section {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 30px;
                    text-align: center;
                    margin-top: 15px;

                    div {
                        @include display-flex(column, center, center, 0);
                        background-color: $website-dark-gray;
                        padding: $mobile-padding;
                        border-radius: 15px;
                        flex-shrink: 1;
                        flex-grow: 1;
                        width: 100%;

                        h3 {
                            width: 90px;
                        }
                    }
                }
            }
        }

        footer {
            @include footer-css();
            height: 80px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    }
}